fastapi
uvicorn[standard]
python-multipart

pydantic
email-validator

python-dotenv

slowapi

numpy
scipy
scikit-learn

torch
torchaudio

soundfile
noisereduce

silero-vad
speechbrain

qdrant-client

python-jose
bcrypt

openai-whisper

librosa
pydub
faster-whisper
whisper-timestamped