fastapi
uvicorn[standard]
python-multipart

torch
torchaudio

pydantic
email-validator

python-dotenv

slowapi

numpy==1.26.4
scipy
scikit-learn

soundfile
librosa
pydub
noisereduce

silero-vad
speechbrain

qdrant-client

python-jose
bcrypt

openai-whisper
faster-whisper
whisper-timestamped

eng_to_ipa
inflect
unidecode

pypinyin
cn2an
jieba
langid

wavmark

openai

gradio

modelscope==1.20.0
transformers==4.51.3

num2words
pykakasi

mecab-python3
fugashi[unidic-lite]

#melo tts
g2p-en
cached_path
txtsplit