.button-import {
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.button-import:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

.remove-import {
  font-size: 14px;
  margin-top: 15px;
}

.file-info {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid;
}


